/*@AUTHOR: REIDEN RUFIN*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    min-height: 85vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(93, 154, 248, 0.8);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgba(93, 154, 248, 0.8);
    background: rgba(93, 154, 248, 0.8);
    transition: 1s;
}

nav .fa{
    display: none;
}

/* For device support */
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgba(93, 154, 248, 0.8);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*---- about ---*/
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row-2{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.about-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-widht: 700px){
    .row{
        flex-direction: column;
    }
}

/* more */
.more{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.more-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.more-col img{
    width: 100%;
}
.layer{
    background: rgba(93, 154, 248, 0.8);
    transition: 0.5s;
}
.layer:hover{
    background: rgba(78, 110, 158, 0.8);
}

/*Another section*/
.another{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.another-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    position: relative;

}
.another-col img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.another-col:hover{
    opacity: 0.7;
}


.another-col p{
    padding: 0;
    margin-top: 10px;
    color:rgba(0, 0, 0, 1);
}
.another-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*--test--*/
.quotes{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    
}
.quotes-col{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background:rgba(93, 154, 248, 0.8);
    padding: 15px;
    display: flex;
}
.quotes-col img{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 20px;
    border-radius: 10%;
    border-color: rgba(0, 0, 0, 0.64);
    border-style: solid;
}
.quotes-col p{
    padding: 0;
    color:rgba(10, 10, 10, 1);
    font-style: italic;
}
.quotes-col h3{
    margin-top: 15px;
    text-align: left;
}
@media(max-width: 700px){
    .quotes-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*button*/
.button{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/footer.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.button h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .button h1{
        font-size: 24px;
    }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons{
    object-fit: cover;
    margin: 0 13px;
    cursor: pointer;
}
.banner{
    position: bottom;
    left: 200px;
    bottom: 200px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.banner p{
    font-size: 0px;
}

/*-------------------------------------------ABOUT PAGE-------------------------------*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/about1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.about-ganyu{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-ganyu-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-ganyu-col img{
    width: 100%;
}

.about-ganyu-col h1{
    padding-top: 0;
}

.about-ganyu-col p{
    padding: 15px 0 25px;
}
.blue-btn{
    border: 1px solid rgba(79, 135, 237, 0.8);
    background: transparent;
    color: rgba(79, 135, 237, 0.8);
}
.blue-btn:hover{
    color: white;
}

/*-------------------------------------------FEET PAGE-------------------------------*/
.sub-header-feet{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/feet-pics.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header-feet h1{
    color: #ffff;
    margin-bottom: 200px;
    padding: 0;
    text-align: center;
}


.feet-list{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.feet-list-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.feet-list-col img{
    width: 80%;
    border-style: solid;
    border-color:rgba(79, 135, 237, 1);
}
.sub-text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.sub-text-box h1{
    font-size: 35px;
}
.sub-text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgba(255, 251, 253, 0.6);
    position: relative;
    bottom: 185px;
}
